<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if page.title %}
                Charge Algorithms: {{ page.title}}
            {% else %}
                Charge Algorithms
            {% endif %}
        </title>
        <link rel="Shortcut Icon" href="assets/images/favicon.ico" type="image/x-icon" />


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <!-- Reg Css -->
        <link href="assets/css/global.css" rel="stylesheet" media="screen">

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato|Raleway' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="visible-phone">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="/">Charging Algorithms</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav mobileNav">
                                {% include navBullets.html %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row header">
                <div class="span6">
                    <div class="hidden-phone">
                        <h1>Charging Algorithms</h1>
                    </div>
                </div>
                <div class="span6 topnav nav-collapse collapse">
                    <div  class="hidden-phone">
                        <ul class="nav nav-pills pull-right">
                            {% include navBullets.html %}
                        </ul>
                    </div>
                </div>
            </div>
            {{ content }}

        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <p><small>Washington University in St. Louis &copy; 2013</small></p>
                <ul class="footer-links">
                    <small>
                        <li><a href="https://github.com/andhess/ChargeAlgorithms">github</a></li>
                        <li class="muted">&middot;</li>
                        <li><a href="http://engineering.wustl.edu/">wustl engineering</a></li>
                        <li class="muted">&middot;</li>
                        <li><a href="sources.html">sources</a></li>
                    </small>
                </ul>
            </div>
        </footer>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>