<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if page.title %}
                Charge Algorithms: {{ page.title}}
            {% else %}
                Charge Algorithms
            {% endif %}
    </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        {{ content }}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>